<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verhalen</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1> 404 Pagina niet gevonden.</h1>

  <a href="/verhalen">Verder met lezen</a>
</body>
</html>
