<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jouw eigen liefdesverhaal</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>
          LoveStory.nl
        </h1>
        <p>
          Schrijf samen het verhaal
        </p>
    </header>
    <section>
        <p>Op LoveStory.nl kunnen singles elkaars verhalen afmaken.
        </p>
    </section>
    <section>
        <h1>
          Vind nu singles met leuke verhalen!
        </h1>
        <form>
          <a href=/verhalen>Zoek</a>
          <p>
            Of
          </p>
          <a href=/registreren>Registreer</a>
          <a href=/login>Log in</a>
    </section>
</body>
</html>
