<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>Log in</li>
        <li><a href="/registreren">Registreer</a></li>
      </ul>
    </nav>
  </header>
    <section>
        <h1>
          Log in
        </h1>
        <form action=/login method=post>
            <fieldset>
                <legend>
                  Log in
                </legend>
                <label>E-mailadres:<input name=email></label>
                <label>Wachtwoord:<input name=hash></label>
                <button>Log in</button>
            </fieldset>
        </form>
    </section>
</body>
</html>
