<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mijn profiel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/verhalen">Verhalen</a></li>
        <li>Profiel</li>
        <li><a href="/">Log uit</a></li>
      </ul>
    </nav>
  </header>
    <section>
        <article>
            <h1>
              Joe
            </h1>
            <h2>
              Openbare gegevens
            </h2>
            <p>Leeftijd: <br> 35</p>
            <p>Woonplaats: <br> Breda</p>
            <p> Verhaal: <br>
            </p>
            <h2>
              Accountgegevens
            </h2>
            <p>E-mailadres: <br> Joe@example.nl</p>
            <p>Wachtwoord: <br> **********</p>
            <a href=/edit>Wijzig jouw profiel</a>
        </article>
    </section>
</body>
</html>
